<!-- <h1>Hey {{data}}</h1>
<h2>{{getval()}}</h2>
<button (click)="getname()">Click for name</button>
<h4>{{pointer}}</h4>
<input  #inputboxone/>
<button (click)="printdata(inputboxone.value)" >update details</button>
<h6 [id]="variablerenderprop">The name of the user is {{name}}</h6>

<h2>Please fill belwo form</h2>
<input name="namer" type="number" #carcount/>
<button (click)="businesslogicforcarcount(carcount.valueAsNumber)">Submit</button>
<div *ngIf="flagmorethan5;else blockb">
User have more than 5 cars
</div>
<ng-template #blockb><p>User have less than 5 cars</p></ng-template>

<a [href]="urldyn">go to my page</a>

<h4 *ngFor="let item of toDos">{{item}}</h4>
-->
<!--example for parent to child-->
<!-- <app-my-component-two [childvariname]="aparna"></app-my-component-two>
<input type="text" ngModel="data">
<p>{{data | uppercase}}</p> -->

<!--example for template referrence type-->
<!-- <input type="text" #inputboxtwo/>
<button (click)="sendhtml(inputboxtwo)">get alert</button>  -->
<p appMyDirective>hello harish</p>


<p>list of user names</p>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>email</th>
        <th>Address</th>
    </tr>
    <tr *ngFor="let ali of Users">
        <td>
            {{ali.name|json}}
        </td>
        <td>
            {{ali.email|json}}
        </td>
        <td>
            {{ali.mainAddress|json}}
        </td>

    </tr>
</table>
<p>Please fill the below form</p>
<router-outlet></router-outlet>
<app-formPost></app-formPost>